header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    background-color: #5ba4df;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  
  header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  header ul li {
    margin: 0 1rem;
  }

  
  header ul li button {
    
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #000000;
    border: none;
    border-radius: 0.5rem;
    color: #ffffff;
    cursor: pointer;
  }

  // .portada {
  //   background-color: #000000;
  //   padding-top: 10%;
  //   height: 150vh;
  //   background-size: cover;
  //   // background-position: center;
  //   display: flex;
  //   flex-direction: column;
  //   // justify-content: center;
  //   align-items: center;
  //   color: #ffffff;
  // }
  
  .portada header {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .portada header h1 {
    font-size: 4rem;
    text-shadow: 2px 2px #000000;
  }
  

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .grid-item p {
    margin: 5px 0;
  }
  
  .green {
    background-color: green;
    color: white;
  }
  
  .red {
    background-color: red;
    color: white;
  }